@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;900&display=swap');

body {
    max-height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family:'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    Overflow-y:scroll;
}

.container-one, .container-two,
    .container-three, .container-four,
        .container-five {
            display: flex;
            flex: 1 1 auto;
            height: min-content;
}

.container-one, .container-two,
    .container-three {
        padding: 20px 500px;
}

.container-two {
    background-color: rgb(235, 233, 233);
    display: flex;
}

.container-one, .container-five {
    background-image:url(./images/eagle-ga3924ad40_1920.jpg);
    background-color: #1F2937;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    flex-direction: column;
}
    
.container-two {
    flex-direction: column;
}

.container-three {
    background-color: rgb(243, 131, 131);
    flex-flow: row-reverse wrap;
    padding: 20px auto;
}

.container-four {
    justify-content: center;
    padding: 30px;
}

.container-five {
    background-position: bottom;
    padding: 30px;
    align-items: center;
}

.tenor-gif-embed {
    max-width: 800px;
    height: auto;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #1F2937;
    font-weight: bold;
}

.button {
    background-color: #3882F6;
    border: 2px solid rgb(243, 131, 131);
    border-radius: 25px;
    max-width: fit-content;
    padding: 5px 15px;
    align-self: center;
    color: white;
    flex: none;
}

.header {
    display: flex;
    margin-bottom: 75px;
}

.logo {
    width: 200px;
    max-height: 70px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
}

.header-links {
    display: flex;
    margin-left: auto;
    gap: 20px;
}

.header-body {
    display: flex;
    justify-content: space-evenly;
}

.header-subject {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    flex: 0 1 content;
    border: 2px solid black;
    background-color: #f9faf8c7;
    padding: 10px;
    justify-content: space-between;
}

.subject {
    font-size: 40px;
    font-weight: bold;
    color: black;
}

.summary {
    font-size: 16px;
    font-weight: 600;
}

.header-image {
    max-height: 320px;
    flex: 0 1 auto;
}

.info-image {
    width: 100px;
    height: 100px; 
    border: 2px solid #3882F6;
    border-radius: 10px;
}
  
.info-header {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 32px;
}
  
.info-blocks {
    display: flex;
    justify-content: center;
    gap: 16px
}
  
.one, .two, .three, .four{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 auto;
}

.info {
    max-width: 100px;
    text-align: center;
    font-size: 14px;
    margin-top: 5px;
}

.quote {
    font-size: 36px;
    flex: 0 1 auto;    
}

.speaker {
    font-weight: 600;
    flex: none;
}

.action-wrapper {
    display: flex;
    width: 500px;
    background-color: #7faefa;
    padding: 10px 25px;
    justify-content: space-between;
    border-radius: 10px;
}

.action-text {
    max-width: 300px;
}

.action-header {
    font-size: 18px;
    font-weight: 600;
}

.action-summary {
    font-size: 14px;
}

.footer {
    flex: none;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 4px;
}