@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;900&display=swap');

body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family:'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

.tenor-gif-embed {
    max-width: 800px;
    height: auto;
}

li{
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #1F2937;
    font-weight: bold;
}

.button {
    background-color: #3882F6;
    border: 1px transparent white;
    border-radius: 25px;
    max-width: fit-content;
    padding: 5px 15px;
    align-self: center;
}

.container-one {
    background-image:url(./images/eagle-ga3924ad40_1920.jpg);
    background-color: #1F2937;
    height: min-content;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px 75px;
}

.header {
    display: flex;
    margin-bottom: 75px;
}

.logo {
    width: 125px;
    max-height: 70px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
}

.header-links {
    display: flex;
    margin-left: auto;
    gap: 20px;
}

.header-body {
    display: flex;
    justify-content: space-evenly;
}

.header-subject {
    width: 300px;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    border: 2px solid black;
    background-color: #f9faf8c7;
    padding: 10px;
    justify-content: space-between;
}

.subject {
    font-size: 48px;
    font-weight: bold;
    color: black;
}

.summary {
    font-size: 18px;
    font-weight: 600;
}
.header-image {
    height: 312px;
    flex: 0 1 auto;
}
